# Flutter/Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
*.g.dart
*.freezed.dart

# Android — asta e cauza mapei mari!
android/.gradle/
android/local.properties
android/key.properties
android/app/debug/
android/app/profile/
android/app/release/
android/captures/
android/.kotlin/
*.apk
*.aab
*.keystore
*.jks

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/.generated/
ios/Runner/GeneratedPluginRegistrant.*

# IDE
.idea/
.vscode/
*.iml

# Environment / secrete
.env
.env.*
**/google-services.json
**/GoogleService-Info.plist

# OS
.DS_Store
Thumbs.db